*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}

.jumbotron{    
    height: 100vh;    
    width: 100%;
    background-color: lightgray;
}

.navbar{
    width: 100%;
}

/* Navbar */

.navbar .nav-image{
  display: none;
}

.navbar .list-menu ul{
  list-style: none;  
  margin-left: -30px;
}

.navbar .list-menu li{
  padding:  4px 0;
}

.navbar .list-menu ul li a{
  text-decoration: none;
  color: slategray;
}

.navbar .list-menu ul li a:hover{
  text-decoration: underline;  
}

/* Menu */

.menu{
    width: 100%;    
    display: flex;
    justify-content: center;  
    padding: 15px;
    display: none;
}

.item-menu{    
    background-color: white;
    box-shadow: 2px 2px 2px black;
    padding: 15px;
    border-radius: 10px;
}

.item-menu a{
    text-decoration: none;
    color: black;
    margin: 0 4px;
}
/* Akhir Maneu */

/* Container */
.container {
  min-width: 320px;
}

/* Akhir Container */

/* Tabel Identitas */
.home-informations .image{
  display: flex;
  justify-content: center;  
  margin-bottom: 10px;
}

.home-informations .image img{
  margin-bottom: 3px;
}

.home-informations .list-identity{  
  padding: 4px;
  border-radius: 15px;
}

.home-informations .list-identity .name h2{
  text-align: center;
  margin-bottom: 25px;
  font-size: 1%;
}

.home-informations .identity{
  border: 2px solid gainsboro;
  border-radius: 15px;
  padding: 20px
}

.list-identity .identity .label h6{  
  font-weight: 500;
  font-size: 1.2rem;
}

.list-identity .identity .fill{  
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: slategray;
}

.home-informations .status{
  border: 2px solid gainsboro;
  margin-top: 20px;
  border-radius: 15px;
}

.home-informations .status-apply{
  margin: 20px 0 10px 0;
  text-align: center;
}



/* Tracking View */
.tracking ul{
  list-style: none;
  position: relative;
}

.tracking ul::after{
  content: '';
  width: 3px;
  position: absolute;
  height: calc(100% - 60px);
  background-color: black;
  left: 15px;  
  top: 0;    
  margin-top: 29px;
}

.tracking ul li{
  padding: 30px 0;
  padding-left: 20px;
}

.tracking ul li a{
  text-decoration: none;
  color: black;
  position: relative;  
}

.tracking ul li a::before{
  content:'';
  position: absolute;
  width:25px;
  height:25px;
  background: white;
  border-radius: 100%;
  left: -48px;
  top: 50%;
  transform: translateY(-50%);
  border: 4px solid black;
  z-index: 10;
}

.tracking ul li a.active::before{
  background: black;
}

/* Akhir Home User */
/* ======================================================================================= */


/* Profile */

.profile-informations .box-title{
  width: 100%;
  border-radius: 10px;
  background-color: black ;
}

.profile-informations .name{
  text-align: center;
}

.profile-informations .identity h6{
  font-size: 1rem;
  margin-top: 5px;
}






/* Responsive Laptop */ 

@media  (min-width: 980px) { 
  
  /* Navbar */
  .list-menu{
    display: none;
  }

  .navbar .nav-image{
    display: block;
  }

  /* Menu */
  .menu{
    display: block;
  }

  /* Akhir Menu */

  /* Container */


  
  /* Identity */

  .home-informations{
    display: flex;
    flex-wrap: wrap;
  }

  .home-informations .image{      
    margin-bottom: 0;
  }

  .home-informations .list-identity .name h2{    
    text-align: left;
  }

  .home-informations .identity{
    border: none;
    padding: unset;
  }

  .home-informations .status{
    border: none;
  }

  .home-informations .status-apply{
    display: none;
  }

  .list-identity .identity .label h6{    
    font-size:unset;
  }

  .list-identity .identity .fill{    
    font-weight: unset;
    font-size: unset;
  }  

 
/* Profile */
.profile-informations .box-title{
  width: 30%;
}

.profile-informations .img-foto img {
  display: none;
}
.profile-informations .name{
  text-align: left;
}

}

 /* Responsive Tablet */
